<aside class="categories">
  <ul class="categories--list">
    <li class="category">
      <a
        routerLinkActive="active"
        [routerLink]="['']"
        [routerLinkActiveOptions]="{ exact: true }"
        color="primary"
        mat-flat-button
        >Products</a
      >
    </li>
    <li class="category" *ngFor="let category of categories">
      <a
        routerLinkActive="active"
        [routerLink]="[category]"
        color="primary"
        mat-flat-button
        >{{ category | titlecase }}</a
      >
    </li>
  </ul>
</aside>
