<div [ngClass]="{hidden: formService.isFormHidden}" class="form-container">
  <form class="form" [formGroup]="form">
    <div class="form--header">
      <h1>Login</h1>
      <button mat-icon-button (click)="formService.isFormHidden = !formService.isFormHidden"><mat-icon>close</mat-icon></button>
    </div>
    <div class="form--inputs" >

      <div class="form--input_container">
        <label>Name: </label>
        <input class="input" type="text" formControlName="name">
      </div>
      <div class="form--input_container">
        <label>Password:</label>
        <input class="input" type="text" formControlName="password">
      </div>
      
    </div>
    <div class="form--actions">
      <button class="form--login-button" mat-flat-button type="submit" (click)="onSubmit()" color="primary">Login</button>
      <a mat-flat-button (click)="toSignUp()">Sign-up</a>
    </div>
  </form>
</div>
